---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";

import HeroSection from "@components/sections/landing/HeroSection.astro";
import ContactSection from "../components/sections/landing/Contact.astro";
import AboutSection from "../components/sections/landing/About.astro";
import ValuesSection from "@components/sections/landing/Values.astro";

import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";

import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout title="Wedding In Cartagena">
  <HeroSection
    title=`Tu boda soñada en <span class="text-yellow-500 dark:text-yellow-400">Cartagena</span>`
    subTitle=`En <span class="text-yellow-500 dark:text-yellow-400">Le Mariage</span> hacemos tus sueños realidad en Cartagena. Con pasión y dedicación, te ayudamos a crear recuerdos inolvidables para tu boda o evento. ¡Contáctanos y comienza hoy!`
    primaryBtn="Contáctanos"
    primaryBtnURL="https://wa.me/573226943874?text=%20%C2%A1Cont%C3%A1ctanos%20hoy%20y%20comienza%20a%20planificar%20la%20celebraci%C3%B3n%20de%20tus%20sue%C3%B1os!"
    secondaryBtn="Envianos un mensaje"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <section id="about">
    <AboutSection
      title="Sobre nosotros"
      subTitle="¡Bienvenidos a nuestra familia en el mundo de los sueños hechos realidad!"
    />

    <FeaturesNavs
      title=`¡Bienvenidos a nuestra  <span class="text-yellow-500 dark:text-yellow-400">familia</span> en el mundo de los sueños hechos realidad!`
      tabs={[
        {
          heading: "Cutting-Edge Tools",
          content:
            "En Le Mariage, nos enorgullece presentarnos como tu socio de confianza en la creación de momentos inolvidables en Cartagena y más allá.",
          svg: "tools",
          src: tools,
          alt: "Yellow and black heavy equipment on brown grass field",
          first: true,
        },
        {
          heading: "Intuitive Dashboards",
          content:
            "En el corazón de nuestra empresa yace una pasión inquebrantable por la excelencia en la planificación de bodas y eventos.",
          svg: "dashboard",
          src: dashboard,
          alt: "A screenshot or graphic representation of the intuitive dashboard",
          second: true,
        },
        {
          heading: "Robust Features",
          content:
            "Nos esforzamos por superar tus expectativas en cada paso del camino, llevando tus ideas desde la concepción hasta la realización con estilo y un toque personal incomparable.",
          svg: "house",
          src: construction,
          alt: "Gray metal building frame near tower crane during daytime",
        },
      ]}
    />
  </section>

  <ValuesSection
    title="¿Qué nos distingue?"
    subTitle="Honestos y Confiados: En un mundo donde la confianza es invaluable, nos comprometemos a ser tu socio más confiable. La transparencia y la honestidad guían cada interacción que tenemos contigo."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <ContactSection
    title="Construyamos Juntos Tu Boda Soñada"
    subTitle="En Le Mariage, no solo creamos eventos, creamos experiencias que perduran toda la vida. Confía en nosotros para hacer realidad tus sueños más preciados y transformar cada momento en un recuerdo que atesorarás para siempre."
    url="https://www.instagram.com/lemariagectg_weddingplanner?igsh=MTFraHQzMmM4Z21vMg%3D%3D&utm_source=qr"
  />
</MainLayout>



